.cv{
  display: flex;
  gap: 2rem;
  min-height: calc(100vh - 12rem);

  .interactive{
    cursor: pointer;
  }

  &__content-container{
    display: flex;
    flex: 1;
  }

  &__text-content{
    flex: 1.25;
    .cv__title{
      text-transform: uppercase;
      font-size: 4rem;
      font-weight: 900;
    }
    p{
      max-width: 50ch;
      margin-top: 1.2rem;
      opacity: 0.8;
      font-size: 1.2rem;
      line-height: 24px;
    }
  }

  &__about-me{
    position: relative;
    flex: 1;

    .window__main{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .cv__items{
      display: flex;
      gap: 1rem;

      img{
        width: 2rem;
      }

      .items__content{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h4{
          font-family: $text-font;
          font-weight: 500;
        }

        p, span{
          font-family: $text-mono;
        }
        & > *{
          max-width: 45ch;
        }
      }
    }
  }
}


@media only screen and (min-width : 960px) {
 .cv{
   align-items: center;
   padding: 6rem 0;

   &__content-container{
    flex-direction: row;
  }

  &__text-content{
    .cv__title{
      overflow-y: hidden;
    }
    p{
      overflow-y: hidden;
    }
  }
 }
}
@media only screen and (max-width : 950px) {
 .cv{
  flex-direction: column;
  padding: 4rem 0;

  &__content-container{
    flex-direction: column;
  }

  &__text-content{
    flex: 1.5;
    margin-bottom: 2rem;
    width: 100%;
    height: fit-content;
    
    h3{
      text-transform: uppercase;
      line-height: 40px;
      span{
        font-size: 3rem;
      }
      font-weight: 900;
    }
    p{
      font-size: 1.2rem;
      line-height: 24px;
      width: 100%;
    }
  }
  &__about-me{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
 }
}
