.cv{
  display: flex;
  min-height: 100vh;
  align-items: center;
  &__text-content{
    flex: 1.5;
    h3{
      text-transform: uppercase;
      font-size: 4rem;
      font-weight: 900;
    }
    p{
      width: 90%;
      margin-top: 1.2rem;
      opacity: 0.8;
      font-size: 1.2rem;
      line-height: 24px;
    }
  }
  &__carousel{
    flex: 1;
    .cv__items{
      display: flex;
      background-color: $white;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 10px;
      img{
        max-width: 42px;
        margin-right: 1rem;
      }
      .items__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        span{
          color: $dark-blue;
          &:first-of-type{
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 0.4rem;
          }
          &:nth-of-type(2){
            opacity: 0.8;
          }
        }
      }
    }
  }
}


// @media only screen and (max-width : 950px) {

//  .cv{

//  }
// }
