.cv{
  display: flex;
  min-height: 100vh;

  &__text-content{
    // flex: 1.5;
    width: 60%;
    h3{
      text-transform: uppercase;
      font-size: 4rem;
      font-weight: 900;
    }
    p{
      width: 90%;
      margin-top: 1.2rem;
      opacity: 0.8;
      font-size: 1.2rem;
      line-height: 24px;
    }
  }
  &__carousel{
    display: flex;
    // flex: 1;
    align-items: flex-end;
    width: 40%;
    min-height: 90vh;
    .swiper{
      position: relative;
      display: flex;
      flex-direction: column;
      height: min-content;
      .navigation{
        position: static;
        display: flex;
        justify-content: center;
        min-height: 1rem;
        div{
          position: static;
          margin: 1rem 1rem 0 0;
          background-color: rgba(33, 64, 103, 0.76);
          color: #CDDCE8;
          border-radius: 20rem;
          min-width: 3rem;
          min-height: 3rem;
          &::after{
            font-size: 1rem;
          }
        }
      }
      .swiper-slide{
        margin-right: 1rem;
        .cv__items{
          display: flex;
          background-color: $white;
          padding: 1rem;
          margin-bottom: 1rem;
          border-radius: 10px;
          min-width: 385px;
          img{
            max-width: 42px;
            margin-right: 1rem;
          }
          .items__content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            span{
              color: $dark-blue;
              &:first-of-type{
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 0.4rem;
              }
              &:nth-of-type(2){
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
}


@media only screen and (min-width : 960px) {
 .cv{
  flex-direction: row;
  align-items: center;
 }
}
@media only screen and (max-width : 950px) {
 .cv{
  flex-direction: column;
  padding: 4rem 0;
  &__text-content{
    flex: 1.5;
    margin-bottom: 2rem;
    h3{
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 900;
    }
    p{
      font-size: 1rem;
      line-height: 19px;
      width: 130%;
    }
  }
  &__carousel{
    width: 100%;
    .swiper{
      .swiper-slide{
        .cv__items{
          min-width: calc(100% - 2rem);
        }
      }
    }
  }
 }
}
