.text-effect{
  & > span.text-move{
    display: inline-block;
    transition: transform .3s ease-in-out;
  }
  &:hover > span.text-move{
    transform: translateX(50%);
  }
}

.move-gradient{
  animation: moving-gradient 3s infinite alternate-reverse;
  background-position: -100%;
  background-size: 400%;
  cursor: pointer;
}

@keyframes moving-gradient {
  from{
   background-position: 0;
  }
  to{
    background-position: 100%;
  }
}


@keyframes text-translate-anim {
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(0);
  }
}

@media only screen and (min-width : 960px) {
  .text-translate{
    display: inline-block;
    transform: translateY(100%);
    &.animate{
      animation: text-translate-anim .5s ease-in-out .1s forwards;
      &.d2{
        animation-delay: .5s;
      }
    }
  }
}
