.text-effect{
  &:hover > span{
    display: inline-block;
    transform: translateX(50%);
  }
  span{
    transition: transform .3s ease-in-out;
  }
}

.move-gradient{
  animation: moving-gradient 3s infinite alternate-reverse;
  background-position: -100%;
  background-size: 400%;
  cursor: pointer;
}

@keyframes moving-gradient {
  from{
   background-position: 0;
  }
  to{
    background-position: 100%;
  }
}
