.single{
  display: flex;
  flex-direction: column;

  .fil-ariane{
    font-weight: 600;
    margin-bottom: 2rem;
    a{
      font-weight: 400;
      font-style: italic;
    }
  }
  .single__content{
    display: flex;
    .single__left{
      flex: 1;
      .single__title{
        font-family: $text-font;
        font-size: 2rem;
        margin-bottom: 2rem;
      }
      .single__description{
        font-size: 1.2rem;
        font-weight: 400;
        opacity: 0.8;
        line-height: 1.6rem;
        margin: 1.5rem 0;
        width: 90%;
      }
    }
    .single__right{
      flex: 1;
      img{
        width: 100%;
        border-radius: $radius;
      }
      .single__tools{
        display: flex;
        background-color: $light-blue;
        min-height: 4rem;
        border-radius: $radius;
        margin-top: 3rem;

        hr{
          border-color: $dark-blue;
        }

        .single__hard-tools, .single__manage-tools{
          display: flex;
          padding: 1rem 3rem;
          img:first-of-type{
            margin-left: 0;
          }
          img{
            border-radius: 0;
            width: 2rem;
            margin: 0 1.5rem;
          }
        }
        .single__hard-tools{
          flex: 2;
        }
        .single__manage-tools{
          flex: 1;
          justify-content: space-around;
        }
      }
    }
  }
  .single__navigation{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 2rem 0;
    width: 100%;
    a{
      font-family: $text-font;
      color: $white;
    }
  }
}

@media only screen and (max-width : 950px) {
  .single{
    .single__content{
      flex-direction: column;
      .single__right{
        margin-top: 2rem;
      }
    }
  }
 }

 @media only screen and (max-width : 680px) {
  .single{
    .single__content{
      .single__left{
        .single__description{
          width: 95%;
        }
      }
      .single__right{
        .single__tools{
          flex-wrap: wrap;
          hr{
            display: none;
          }
          .single__hard-tools{
            justify-content: flex-start;
            padding: 1rem 1.5rem;
            img{
              margin: 0 0.5rem;
            }
          }
          .single__manage-tools{
            justify-content: flex-start;
            padding: 1rem 1.5rem;
            img{
              margin: 0 0.5rem;
            }
          }
        }
      }
    }
  }
}
