<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
      <div class="wrapper">
        {{- partial "header.html" . -}}
        {{- block "main" . }}

        <section class="single">
          <span class="fil-ariane"><a href="/">Home /</a> {{ .Params.slug }}</span>
          <div class="single__content">
            {{- partial "project-partial/textual-content.html" . -}}
            {{- partial "project-partial/media-content.html" . -}}
          </div>
          {{- partial "project-partial/navigation.html" . -}}
        </section>
        {{- end }}
      </div>
    </body>
</html>
