.card{
  position: relative;
  display: flex;
  justify-content: end;
  background-color: $light-blue;
  border-radius: $radius;
  margin-top: 6rem;
  min-height: 16rem;
  padding-right: 6rem;
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #logo{
    width: 2rem;
    margin-bottom: 1rem;
  }
  #arrow{
    position: absolute;
    top: -15px;
    left: 5rem;
  }
  h3{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
}

.projects{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  .project__card:first-of-type{
    margin-left: 0;
    // width: 27rem;
    flex: 3;
  }
  .project__card:last-child{
    margin-right: 0;
  }
  &:hover > .project__card{
    flex: 1;
  }

  & .project__card:hover {
    flex: 3;
  }

  .project__card{
    flex: 1;
    min-height: 15rem;
    // width: 7rem;
    background-color: $white;
    border-radius: $radius;
    padding: 1rem;
    margin: 0 1rem;

    p, h1, h2, h3, span, strong{
      color: $dark-blue;
    }
  }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .card{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 0;
    #arrow{
      position: absolute;
      top: -10px;
      left: 0;
      width: 7rem;
    }
  }
 }
