body{
  background-color: $dark-blue;
  min-height: 100vh;
  overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6, span, li {
  color: $white;
  font-family: $text-font;
}

.wrapper{
  margin: $wrapper;
  margin-bottom: 0;
}

.btn{
  background-color: $blue;
  border: none;
  border-radius: $radius;
  padding: 0.6rem 2rem;
  color: $white;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  transition: .3s;
  &:hover{
    background-color: $white;
    color: $blue;
  }
}

.socials{
  margin: 1rem 0;
  li{
    display: table-cell;
    a:first-of-type{
      margin-left: 0;
    }
    a{
      margin: 0 1rem;
      img, svg{
        width: 1.2rem;
      }
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .socials{
    li{
      a{
        margin: 0 1.9rem;
        img, svg{
          width: 2.4rem;
        }
      }
    }
  }

  .btn{
    font-size: 2.2rem;
  }

  .header__logo{
    width: 3rem;
    margin-bottom: 1rem;
  }
 }
