
/////////////////// COULEURS ///////////////////////

$dark-blue : #051932;
$darkest-blue : #031123;
$white : #FFFFFF;
$light-blue : #74D6F5;
$blue : #31A8FF;

///////////////MARGIN///////////////////////////

$wrapper: 70px;


/////////////////SIZE/////////////////////////

$radius: 10px;

$p: 1em;
$h2: 4em;
///////////////TEXT///////////////////////////

$text-font : ".SF Compact", sans-serif;
