
/////////////////// COULEURS ///////////////////////

$dark-blue : #051932;
$darkest-blue : #031123;
$white : #FFFFFF;
$white-teint : #eaeff5;
$light-blue : rgba(116, 214, 245, 0.76);
$blue : #31A8FF;

$green: #1c7f2e;
$red: #aa3939;
$grey: #44454a;


///////////////MARGIN///////////////////////////

$wrapper: 120px;
$wrapper-small: 60px;


/////////////////SIZE/////////////////////////

$radius: 10px;

$p: 1em;
$h2: 4em;
///////////////TEXT///////////////////////////

$text-font : ".SF Compact", sans-serif;
