<section class="cv">
  <div class="cv__content-container">
    <div class="cv__text-content">
      <h3 class="cv__title"><span class="text-effect">HARD <span class="text-move">SKILLS.</span><br>
        SOFT SKILLS.<br>
      <span class="text-translate">HOBBIES.</span></span></h3>
      <p><span id="text-effect-t2">Retrouvez ici les outils que j’utilise le plus régulièrement dans mes projets, mais aussi mes savoir-être qui me permettent de travailler en équipe. Et finalement, découvrez-en plus sur moi et mes centres d’intérêt.</span></p>
    </div>
    <div class="cv__about-me">
      <div class="window active interact-with">
        <div class="window__header">
          <div class="header__actions">
            <div class="window__btn close"></div>
            <div class="window__btn reduce"></div>
            <div class="window__btn resize"></div>
          </div>
          <div class="header__info">
            <span>Terminal</span>
          </div>
        </div>
        <div class="window__main">
          <section class="terminal active">
            <p>- hard_skills.pdf</p>
            <p>- soft_skills.pdf</p>
            <p>- hobbies.pdf</p>

            <p class="current-line">miia@macmymiia: ~/Documents$ <span class="typing-text">open *.pdf</span><span class="cursor">█</span> </p>
          </section>
        </div>
        <div class="window__instruction">
          <span class="magnetic">Clique et tape sur ton clavier</span>
        </div>
      </div>
    </div>
  </div>
</section>
