<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title itemprop="name">{{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta name="twitter:title" content="{{ .Site.Title }}" />
  <meta itemprop="name" content="{{ .Site.Title }}" />
  <meta name="application-name" content="{{ .Site.Title }}" />
  <meta property="og:site_name" content="{{ .Site.Params.sitename }}" />
  <script src="https://kit.fontawesome.com/5ab4441cb0.js" crossorigin="anonymous"></script>
  {{ $styles := resources.Get "/scss/main.scss" | toCSS }}
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
</head>
