{{  $memoji := resources.Get "/media/memoji-blank.webp" }}
{{  $memoji_mobile := resources.Get "/media/memoji.svg" }}


{{  $memoji := resources.Get "/media/memoji-blank.webp" }}
{{  $figma := resources.Get "/media/flo-figma.svg" }}
{{  $flo_github := resources.Get "/media/flo-github.svg" }}
{{  $ide := resources.Get "/media/flo-ide.svg" }}
{{  $photoshop := resources.Get "/media/flo-photoshop.svg" }}
{{  $trello := resources.Get "/media/flo-trello.svg" }}

{{  $linkedin := resources.Get "/media/logos/linkedin.svg" }}
{{  $behance := resources.Get "/media/logos/behance.svg" }}
{{  $github := resources.Get "/media/logos/github.svg" }}
<div class="hero-banner">
  <div class="left">

    {{ partial "socials.html" . }}

    <h1>Nehémia<br><span class="move-gradient" id="colored-name">Telusma</span></h1>
    <p>Développeuse Front-End, étudiante à l’IUT Bordeaux Montaigne et à la recherche d’une alternance ! </p>
    <a href="#contact" class="btn">Recrutez moi</a>
  </div>
  <div class="right">
    <div class="shaded-bg">
      <div class="white-mask">
      </div>
      <img class="img-mobile" id="memoji" src="{{ $memoji_mobile.Permalink }}" alt="">

      <div class="float">
        <img class="img-desktop" id="memoji-desktop" src="{{ $memoji.Permalink }}" alt="">
        <img class="floating-icons" id="flo-figma" src="{{ $figma.Permalink }}" alt="">
        <img class="floating-icons" id="flo-github" src="{{ $flo_github.Permalink }}" alt="">
        <img class="floating-icons" id="flo-ide" src="{{ $ide.Permalink }}" alt="">
        <img class="floating-icons" id="flo-photoshop" src="{{ $photoshop.Permalink }}" alt="">
        <img class="floating-icons" id="flo-trello" src="{{ $trello.Permalink }}" alt="">
      </div>
    </div>
  </div>
</div>

<script src="{{ "js/moving-gradient.js" | relURL }}"></script>
<script src="{{ "js/parallax.js" | relURL }}"></script>
