{{ define "main" }}
{{  $arrow := resources.Get "/media/big-arrow.svg" }}
{{  $logo := resources.Get "/media/logo.svg" }}

{{- partial "hero-banner.html" . -}}
</div>
{{- partial "cv.html" . -}}
<div class="wrapper">
  <div class="card">
    <img id="arrow" src="{{ $arrow.Permalink }}" alt="">
    <div class="card__content">
      <img id="logo" src="{{ $logo.Permalink }}" alt="">
      <h3>Découvrez mes<br>
        réalisations !</h3>
    </div>
  </div>

  <div class="projects">
    {{range .Site.RegularPages}}
    <div class="project__card" style="background-image: url('{{ .Params.featured_image }}')">
      <a href="{{.Permalink}}"></a>
      <div class="project__mask"></div>
    </div>
    {{end}}
  </div>


  {{- partial "contact.html" . -}}

{{ end }}
