<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
      <div class="wrapper">
        {{- partial "header.html" . -}}
        {{- block "main" . }}

        <section class="single">
          <span class="fil-ariane"><a href="/">Home /</a> {{ .Params.slug }}</span>
          <div class="single__content">
            <div class="single__left">
              <h1 class="single__title">{{.Title}}</h1>
              <p class="single__description">
                {{.Content}}
              </p>
            </div>
            <div class="single__right">
              <a href="{{ .Params.project_link }}" target="_blank">
                <img src="{{ .Params.featured_image }}" alt="">
              </a>
              <div class="single__tools">
                <div class="single__hard-tools">
                  {{ range $index, $tools := .Params.hard_tools}}
                    <img src="/tools/{{$tools}}.svg" alt="">
                  {{ end }}
                </div>
                <hr>
                <div class="single__manage-tools">
                  {{ range $index, $tools := .Params.manage_tools}}
                    <img src="/tools/{{$tools}}.svg" alt="">
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
          <div class="single__navigation">
            <div class="next-post">
              {{ if .NextPage }}
              <a class="link-reverse" href="{{ .NextPage.Permalink }}">«- {{ .NextPage.Title | truncate 50 "..." }}</a>
              {{ end }}
            </div>

            <div class="previous-post">
              {{ if .PrevPage }}
              <a class="link-reverse" href="{{ .PrevPage.Permalink }}">{{ .PrevPage.Title | truncate 50 "..."}} -»</a>
              {{ end }}
            </div>
          </div>
        </section>
        {{- end }}
      </div>
    </body>
</html>
