<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{- $metaDescription := "" -}}

{{ if .IsHome }}
  {{- $metaDescription = .Site.Params.meta.seodescription -}}
  <title>{{ .Site.Title }}</title>
{{ else }}
  {{- $metaDescription = .Params.description -}}
  <title>{{ .Site.Title }} | {{ .Params.title }}</title>
{{ end }}

<meta name="description" content="{{ $metaDescription }}">

<meta name=" robots" content="index, follow"/>

<meta itemprop="name" content="{{ .Site.Title }}" />
<meta itemprop="image" content="https://nehemiatelusma.netlify.app/portfolio.webp" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Nehémia Telusma • Portfolio" />
<meta name="twitter:site" content="@mx_twin" />
<meta name="twitter:creator" content="@mx_twin" />
<meta name="twitter:title" content="{{ .Site.Title }}" />
<meta name="twitter:description" content="{{ .Site.Params.meta.seodescription }}" />
<meta name="twitter:image" content="https://nehemiatelusma.netlify.app/portfolio.webp" />

<meta name="application-name" content="{{ .Site.Title }}" />

<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="" />
<meta property="author" content="{{ .Site.Params.meta.seodescription }}" />
<meta property="og:image" content="https://nehemiatelusma.netlify.app/portfolio.webp" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:url" content="https://nehemiatelusma.netlify.app/" />
